<html>
<head>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
</head>
<body>   
           
        <form id = 'inputForm'>
    
            <label for = 'inputValue'>"Enter Input:</label>

            <input type = 'text' id = 'inputValue1' name = english_text>

            <input type = 'text' id = 'inputValue2' name = languages>

            <input type = 'text' id = 'OutputValue' name = french_text>

            

            <Button type = "button" onclick = submitForm()>Submit</button>
           
         
           <div> id = 'outputDiv' </div>

        
            function submitForm() {var english_text = document.getElementById(inputValue1).value;
                fetch(/process method: POST, headers: Content-Type: string)}

            function submitForm() {var languages = document.getElementById(InputValue2).value; 
                fetch(/process, { method: POST, header: Content-Type: string)}
                
           
                

                    },
                    body: {input: english_text}
                })
                    .then(response =>response.string)
                    .then(data => {
                  var french_text = data.output;
                  document.getElementById('outputDiv').innerHTML = 'Output:' + french_text;
                  
                }) 
               .catch(error => console.log(error));
            }     
    
        </script>
</body>
</html>