<!DOCTYPE html>
<html>
<head>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
           
               
                 
    
</head>        
    <body>
        <form id='inputForm'>  
            <input type="text" id="input1" placeholder="Input 1"><br>
            <input type="text" id="input2" placeholder="Input 2"><br>
            <div id="translation"></div>
            <button type="submit">SubmitBtn"</button>    
            <button type='retrieve'>Retrieve</button>
        </form>       
            
        <p id="outputPlaceholder">Output Here</p>
        <script>
                $(document).ready(function() {
                    $("#inputForm").submit(function(e) { 
                        e.preventDefault();
                        var input1 = $('#input1').val();
                        var input2 = $('#input2').val();

                        var data = {
                            'input1': input1
                            'input2': input2
                        };
                    };
                
                        $.ajax({

                          url: '/process',
                          type: 'POST',
                          data: JSON.stringify(data),
                          contentType: 'application/json',
                          dataType: 'json',
                         
                    
                    
                        
                        });
                });      RETRIEVE TYPE IN FORM???

                        INPUT FORM RETRIEVE???                 
                        $('retrieveBtn').click(function(){}
                         $.ajax({
                            type: 'GET',
                            url: '/process',

                            success: function(resonse) {
                              $('#outputPlaceholder').text(response)
                          };  $('#output').text(response);
                          error: function() {
                              $('#outputPlaceholder').text('Error')
                          } 

                      


                            }
                        });
                    };
                };    
            
            </script>

    


</head>
<body>

    
   

</html> 
          