<!DOCTYPE html>
<html>
    <style>
      h1 {text-align: center;}
      f1 { font-size: 16px; }
      input {text: 20px}
   </style>
<body>
    <head<><c1><h1><f1> IBM English-French Translator </f1><h1><c1></head>

  <form method='POST' action="/english_to_french">
    <input type="text" id = "input_text" name= "input_text" placeholder = 'english text to be translated'>
    <button type='submit'>Submit</button>
  </form>

  <form method='POST' action="/french_to_english">
    <input type="text" id = "input_text2" name= "input_text2" placeholder = 'french text to be translated'>
    <button type='submit'>Submit</button>

  </form> 
</body> 
</html> 